*{
    padding: 0px;
    margin: 0px;
}

.main{
    width: 100%;
}

.header{
    width: 100%;
}

.body{
    width: 100%;
    padding: 100px 0px;
}

.search{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 100%;
    padding: 100px 0px;
    gap: 50px;
}

.pokemons{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
}

.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEBEA;
    border-radius: 20px;
}

.ability{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.pokemonName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0px;
}

.abilityTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}

.abilityElement{
    list-style: none;
    padding: 0px;
}

.abilityList{
    padding: 0px;
}

.pokemon{
    width: 150px;
    cursor: pointer;
}

.inactive{
    display: none;
}

.tittleHeader{
    font-family: Arial, Helvetica, sans-serif;
}